
/*****************************
  Newswire Surn-n-Sand styles.css
  Theme by AdaptiveThemes.com

  #036 very dark blue
  #369  dark blue
  #254B72 other blue
******************************/

#search-box-top #edit-search-theme-form-1 {
color:#369;
border-color:#036;
}

#block-search-0 .form-submit,
#search .form-submit {
background-color:#369;
border-color: #036;
}

#secondary-menu {
border-color:#369;
}

#main-navigation {
background: transparent url(images/blue-nav-bar.png) no-repeat left top;
}

#primary-menu ul.links li a,
#suckerfish ul.menu li li a:link,
#suckerfish ul.menu li li a:visited {
background-color:#369;
}

#suckerfish ul.menu li ul a:active,
#suckerfish ul.menu li ul a:hover {
background-color:#254B72;
}

#suckerfish ul.menu li li.expanded a,
#suckerfish ul.menu li li.expanded ul.menu a,
#suckerfish ul.menu li li.expanded ul.menu li.expanded a {
background-color:#369;
}

#suckerfish ul.menu li li.expanded a:active,
#suckerfish ul.menu li li.expanded a:hover,
#suckerfish ul.menu li li.expanded ul.menu a:active,
#suckerfish ul.menu li li.expanded ul.menu a:hover,
#suckerfish ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfish ul.menu li li.expanded ul.menu li.expanded a:hover {
background-color:#254B72;
}
