
/*****************************
  Newswire Sunset styles.css
  Theme by AdaptiveThemes.com
  
  #FF5300 Shiny bright ornage
  #FF7C00 Matt orange
******************************/

#search-box-top #edit-search-theme-form-1 {
color:#FF7C00;
border-color:#FF5300;
}

#block-search-0 .form-submit,
#search .form-submit {
background-color:#FF7C00;
border-color: #FF5300;
}

#secondary-menu {
border-color:#FF7C00;
}

#main-navigation {
background: transparent url(images/orange-nav-bar.png) no-repeat left top;
}

#primary-menu ul.links li a,
#suckerfish ul.menu li li a:link,
#suckerfish ul.menu li li a:visited {
background-color:#FF7C00;
}

#suckerfish ul.menu li ul a:active,
#suckerfish ul.menu li ul a:hover {
background-color:#FF5300;
}

#suckerfish ul.menu li li.expanded a,
#suckerfish ul.menu li li.expanded ul.menu a,
#suckerfish ul.menu li li.expanded ul.menu li.expanded a {
background-color:#FF7C00;
}

#suckerfish ul.menu li li.expanded a:active,
#suckerfish ul.menu li li.expanded a:hover,
#suckerfish ul.menu li li.expanded ul.menu a:active,
#suckerfish ul.menu li li.expanded ul.menu a:hover,
#suckerfish ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfish ul.menu li li.expanded ul.menu li.expanded a:hover {
background-color:#FF5300;
}