
/*****************************
  Newswire Custom Gray styles.css
  Theme by AdaptiveThemes.com
  
  Modify to suit your own colours
  Search and replace these two colours to create your own look.
  #666    dark gray
  #888    medium gray
  #999    medium gray

******************************/

#search-box-top #edit-search-theme-form-1 {
color:#999;
border-color:#666;
}

#block-search-0 .form-submit,
#search .form-submit {
background-color:#999;
border-color: #666;
}

.primary-links li a:hover {
background-color:#666;
}

#secondary-menu {
border-color:#666;
}

#main-navigation {
background: transparent url(images/gray-nav-bar.png) no-repeat left top;
}

#primary-menu ul.links li a,
#suckerfish ul.menu li li a:link,
#suckerfish ul.menu li li a:visited {
background-color:#999;
}

#suckerfish ul.menu li ul a {
border-color:#666;
}

#suckerfish ul.menu li ul a:active,
#suckerfish ul.menu li ul a:hover {
background-color:#888;
}

#suckerfish ul.menu li li.expanded a,
#suckerfish ul.menu li li.expanded ul.menu a,
#suckerfish ul.menu li li.expanded ul.menu li.expanded a {
background-color:#999;
}

#suckerfish ul.menu li li.expanded a:active,
#suckerfish ul.menu li li.expanded a:hover,
#suckerfish ul.menu li li.expanded ul.menu a:active,
#suckerfish ul.menu li li.expanded ul.menu a:hover,
#suckerfish ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfish ul.menu li li.expanded ul.menu li.expanded a:hover {
background-color:#888;
}

