
/*****************************
  Newswire Custom Gray styles.css
  Theme by AdaptiveThemes.com
 
  Don't touch these if you want the default gray blocks and highlights.
  #222    very dark gray
  #BBB    med gray
  #CCC    light gray
  #EEE    silver
  #f7f7f7 light silver

******************************/

#accessiblity a:hover,
#accessiblity a:focus {
background-color:#f7f7f7;
color:#222;
}

#content h1.category {
color:#222;
border-color:#CCC;
}

.taxonomy-term-description {
color:#AAA;
}

.mission {
color:#222;
border-color:#EEE;
}

.mission a:link,
.mission a:visited,
.mission a:hover {
color:#222;
}

div.comment.odd {
background-color:#EEE;
}

.forum-topic-navigation {
border-color:CCC;
}

.block .title {
color:#222;
background-color:#EEE;
border-color:#CCC;
}

.block > .block-wrapper {
border-color:#CCC;
}

tr.even {
background-color:#fff;
}

tr.odd td.active {
background-color:#EEE;
}

td.region,
td.module,
td.container {
background-color:#f7f7f7;
color:#222;
}

.resizable-textarea .grippie {
background-color:#EEE;
border-color:#CCC;
}

.tabs ul.primary li a {
background-color:#f7f7f7;
border-color:#CCC;
}

.tabs ul.primary li.active a {
background-color:#FFF;
border-color:#CCC #CCC #FFF;
}

.tabs ul.primary li a:hover {
background-color:#EEE;
border-color:#CCC;
}

div.comment.even,
.book-navigation .page-links,
.poll .bar,
tr.odd {
background-color:#EEE;
}

#suckerfish a {
background-color:transparent;
color:#FFF;
}

#suckerfish a:active,
#suckerfish a:hover {
background-color:transparent;
color:#FFF;
}

#primary-menu ul.links li a,
#suckerfish ul.menu li li a:link,
#suckerfish ul.menu li li a:visited {
color:#FFF;
}

#suckerfish ul.menu li li.expanded a,
#suckerfish ul.menu li li.expanded ul.menu a,
#suckerfish ul.menu li li.expanded ul.menu li.expanded a {
background-color: transparent;
}

#suckerfish ul.menu li ul a {
color:#FFF;
}

#suckerfish ul.menu li ul a:active,
#suckerfish ul.menu li ul a:hover {
color:#FFF;
text-decoration:none;
}

#suckerfish ul.menu li li.expanded a,
#suckerfish ul.menu li li.expanded ul.menu a,
#suckerfish ul.menu li li.expanded ul.menu li.expanded a {
color:#FFF;
}

#suckerfish ul.menu li li.expanded a:active,
#suckerfish ul.menu li li.expanded a:hover,
#suckerfish ul.menu li li.expanded ul.menu a:active,
#suckerfish ul.menu li li.expanded ul.menu a:hover,
#suckerfish ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfish ul.menu li li.expanded ul.menu li.expanded a:hover {
color:#FFF;
}

div.node,
.book-navigation .menu {
border-color:#EEE;
}

div.comment.comment-mine,
.poll .bar .foreground {
background-color:#CCC;
}

.block ul li,
#footer-message {
color:#BBB;
}

thead th,
input.text,
input.title,
textarea,
select,
fieldset,
input.form-text,
.tabs ul.primary,
.tabs ul.secondary,
.tabs ul.secondary li,
.tabs ul.secondary a.active {
border-color:#CCC;
}

.nw-background-fill-light > .block-wrapper {
background-color:#f7f7f7;
}

tr.info,tr.even td.active,
.nw-background-fill-dark > .block-wrapper {
background-color:#EEE;
}
