
/*****************************
  Newswire Custom Tan styles.css
  Theme by AdaptiveThemes.com
  
  Don't touch these if you want the default tan blocks and highlights.
  #222     very dark gray
  #E1CAA1  tan
  #ECDDC3  med tan
  #F4ECDD  light tan
******************************/

#accessiblity a:hover,
#accessiblity a:focus {
background-color:#F4ECDD;
color:#222;
}

#content h1.category {
color:#222;
border-color:#E1CAA1;
}

.taxonomy-term-description {
color:#CFB78E;
}

.mission {
color:#222;
border-color:#F4ECDD;
}

.mission a:link,
.mission a:visited,
.mission a:hover {
color:#222;
}

div.comment.odd {
background-color:#ECDDC3;
}

.forum-topic-navigation {
border-color:E1CAA1;
}

.block .title {
color:#222;
background-color:#F4ECDD;
border-color:#E1CAA1;
}

.block > .block-wrapper {
border-color:#E1CAA1;
}

tr.even {
background-color:#fff;
}

tr.odd td.active {
background-color:#ECDDC3;
}

td.region,
td.module,
td.container {
background-color:#F4ECDD;
color:#222;
}

.resizable-textarea .grippie {
background-color:#ECDDC3;
border-color:#E1CAA1;
}

.tabs ul.primary li a {
background-color:#F4ECDD;
border-color:#E1CAA1;
}

.tabs ul.primary li.active a {
background-color:#FFF;
border-color:#E1CAA1 #E1CAA1 #FFF;
}

.tabs ul.primary li a:hover {
background-color:#ECDDC3;
border-color:#E1CAA1;
}

div.comment.even,
.book-navigation .page-links,
.poll .bar,
tr.odd {
background-color:#F4ECDD;
}

#suckerfish a {
background-color:transparent;
color:#FFF;
}

#suckerfish a:active,
#suckerfish a:hover {
background-color:transparent;
color:#FFF;
}

#primary-menu ul.links li a,
#suckerfish ul.menu li li a:link,
#suckerfish ul.menu li li a:visited {
color:#FFF;
}

#suckerfish ul.menu li li.expanded a,
#suckerfish ul.menu li li.expanded ul.menu a,
#suckerfish ul.menu li li.expanded ul.menu li.expanded a {
background-color: transparent;
}

#suckerfish ul.menu li ul a {
color:#FFF;
}

#suckerfish ul.menu li ul a:active,
#suckerfish ul.menu li ul a:hover {
color:#FFF;
text-decoration:none;
}

#suckerfish ul.menu li li.expanded a,
#suckerfish ul.menu li li.expanded ul.menu a,
#suckerfish ul.menu li li.expanded ul.menu li.expanded a {
color:#FFF;
}

#suckerfish ul.menu li li.expanded a:active,
#suckerfish ul.menu li li.expanded a:hover,
#suckerfish ul.menu li li.expanded ul.menu a:active,
#suckerfish ul.menu li li.expanded ul.menu a:hover,
#suckerfish ul.menu li li.expanded ul.menu li.expanded a:active,
#suckerfish ul.menu li li.expanded ul.menu li.expanded a:hover {
color:#FFF;
}

div.node,
.book-navigation .menu {
border-color:#F4ECDD;
}

div.comment.comment-mine,
.poll .bar .foreground {
background-color:#E1CAA1;
}

.block ul li,
#footer-message {
color:#CFB78E;
}

thead th,
input.text,
input.title,
textarea,
select,
fieldset,
input.form-text,
.tabs ul.primary,
.tabs ul.secondary,
.tabs ul.secondary li,
.tabs ul.secondary a.active {
border-color:#E1CAA1;
}

.nw-background-fill-light > .block-wrapper {
background-color:#FFFAEF;
}

tr.info,tr.even td.active,
.nw-background-fill-dark > .block-wrapper {
background-color:#F4ECDD;
}