
/* forms.css
   Default styling for forms */

form {
  margin: 0 0 1em 0;
}

input.text, 
input.title,
textarea, 
select {
  margin:0.5em 0;
  border:1px solid #C0C0C0;
}

input.text:focus, 
input.title:focus,
textarea:focus, 
select:focus {
  border:1px solid #666;
}

input.text, 
input.title { 
  padding:5px; 
}

input.title { 
  font-size:1.5em; 
}

div.error, 
tr.error, 
span.form-required, 
span.marker {
  color: #8A1F11;
}

.form-item input.error, 
.form-item textarea.error, 
.form-item select.error {
  color: #8A1F11;
  background: #FFCCCC;
  border: 1px solid #DD7777;
}

div.form-item div.description img {
  margin: 0;
}

input.form-text, 
textarea {
  padding: 0.2em;
  border: 1px solid #CCC;
}

div.form-item {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.form-item strong.error {
  display: block;
}

.form-item textarea.error {
  padding: 0.2em;
}

.form-item .description {
  font-size: 0.9em;
  line-height: 1.667em;
}

form .form-submit {
  margin-top: 0.5em;
}

label { 
  font-weight: bold; 
}

fieldset {   
  background: #FFF;
  margin:10px 0;
  padding:0 10px 10px;
  border: 1px solid #CCC;
}

div.fieldset-wrapper {
  padding: 0.4em;
}

fieldset legend {
  font-weight: bold;
  font-size: 1em;
  background: #fff;
  padding: 0.5em;
  border: none;
  margin: 0;
}

fieldset .collapsible {
  overflow: hidden;
}

fieldset dl, 
fieldset select {
  margin: 0;
}

fieldset ul li {
  list-style-image: none;
  list-style: square;
  color: #222;
}

#node-admin-filter ul {
  padding: 0.4em 0;
}

#edit-operation-wrapper select {
  margin: 0.4em ;
}

textarea {
  line-height: 1.5em;
  height: auto;
  padding:3px;
}

div.resizable-textarea textarea {
  margin-top: 0;
}

html.js fieldset.collapsed {
  background: none;
}

html.js fieldset legend {
  width: auto;
}

html.js fieldset.collapsed{
  height: 2em;
}

html.js fieldset.collapsible legend a {
  background: transparent url(images/arrow-down.gif) no-repeat scroll 2px 50%;
  text-decoration: none;
  color: #55872E;
  padding: 1px 3px 1px 16px;
}

html.js fieldset.collapsed legend a {
  background: transparent url(images/arrow-right.gif) no-repeat scroll 2px 50%;
  color: #0066B3;
  padding: 1px 3px 1px 16px;
}

.tips {
  font-size:1em;
  margin-left:3em;
  padding: 1px 3px 1px 16px;
}