
/* html-elements.css
   Set base styles for html elements.
   Set base typographic styles. */

/* Default font settings. 
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
body { 
  font-size: 75%;
  color: #000; 
  background: #fff;
  font-family: Verdana, Geneva, “DejaVu Sans”, sans-serif;
}

/* Headings */
h1,h2,h3,h4,h5,h6 { 
  font-weight: normal; 
  color: #222; 
  font-family: Georgia, Palatino, “Palatino Linotype”, “Book Antiqua”, “URW Palladio L”, serif;
}

h1{font-size:2em;margin:0 0 .5em;padding:0;}
h2{font-size:1.5em;}
h3{font-size:1.25em;}
h4{font-size:1.17em;}
h5,h6{font-size:1em;}

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
  margin: 0;
}

.item-list h3 { font-size: 1.2em; line-height: 1.25; margin-bottom: 0.25em; height: 1.25em; }

/* Text elements  */
p           { margin: 0 0 1.5em; line-height: 1.6em; }
p img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

/* links */
a:link      { color: #336699; text-decoration: none; }
a:visited   { color: #336699; text-decoration: none; }
a:hover,
a:focus     { color: #336699; text-decoration: underline;}
a:active    { color: #000; text-decoration: underline;}


blockquote   { font-size: 1em; margin: 1.5em; color: #666; font-style: italic; margin: 0 0 1.5em 0; padding: 0 0 0 40px;}
blockquote p { margin: 0; }
strong       { font-weight: bold; }
em,dfn       { font-style: italic; }
dfn          { font-weight: bold; }
sup, sub     { line-height: 0; }

abbr, 
acronym     { border-bottom: none; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre,code    { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em “Lucida Console”, Monaco, “DejaVu Sans Mono”, “Courier New”, monospace; line-height: 1.5; } 

/* Lists */
li ul, 
li ol       { margin:0 1.5em; }
ul, ol      { margin: 0 1.5em 1.5em 1.5em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}

/* Tables  */
table        { margin: 1em 0; width: 100%; }
thead th     { font-weight: bold;color: #494949; border-bottom: 2px solid #d3e7f4; }
th a:link, 
th a:visited { }
td, th       { padding: 0.3em 0.5em; }
tr.even,
tr.odd,
tbody th     { border: solid #d3e7f4; border-width: 1px 0; }
tr.odd, 
tr.info      { background-color: #edf5fa; }
tr.even      { background-color: #fff; }

tr.odd td.active  { background-color: #ddecf5; }
tr.even td.active { background-color: #e6f1f7; }

td.region, td.module, td.container {
  border-top: 1.5em solid #fff;
  border-bottom: 1px solid #b4d7f0;
  background-color: #d4e7f3;
  color: #455067;
  font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container {
  border-top-width: 0;
}

/* Misc classes */
.small      { font-size: 0.8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background: #ff0; }
.added      { background: #060; color: #fff; }
.removed    { background: #900; color: #fff; }