
/* reset.css
   Resets default browser CSS.  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit; 
  margin: 0;
  padding: 0;
  border: 0;
}

body { 
  line-height: 1.5; 
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { 
  border-collapse: collapse; 
  border-spacing: 0;
}
caption, th, td { 
  text-align: left; 
  font-weight: normal; 
}
table, td, th { 
  vertical-align: middle; 
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, 
blockquote:after, 
q:before, 
q:after { 
  content: ""; 
}

blockquote, q { 
  quotes: "" ""; 
}

/* Remove annoying border on linked images. */
a img { 
  border: none; 
}
