
/***************************
  Newswire base styles.css
  Theme by AdaptiveThemes.com
****************************/

/* Main wrappers */
body {
  margin: 0;
}

div#container {
  margin: 0 auto;
}

#col_wrapper { 
  margin-top: 1em;
}

/* Box */
.box {
  background-color: #FFF;
}

.box-wrapper { 
  padding: 0 0.3em 0.5em 0.6em; 
}

.box fieldset {
  background-color: #FFF;
}

/* Pages. Generic page elements */
#accessiblity a:link,
#accessiblity a:visited,
#accessiblity a:active { 
  text-align: center;  
  color: #FFF; 
  display: block;
}

#accessiblity a:hover,
#accessiblity a:focus {
  text-decoration: none;
}

.branding h1.brand,
.branding div.brand {
  font: bold 2.8em Georgia, "Times New Roman", Times, serif;
  margin: 0;
}

.branding h1.brand a,
.branding div.brand a {
  color: #222;
  text-decoration: none;
}

.branding em {
  font: 1em “Helvetica Neue”, Arial, Helvetica, sans-serif;
  color:#222;
  display:block;
  padding:0 0 0.82em;
  margin: 0;
}


/* Search Box Top */
#search-box-top {
  margin-top: 0.45em;
}

#search-box-top #search {
  padding:0.1em 0.1em 0.5em;
  border: none;
}

#search-box-top label,
#block-search-0 label { 
  height: 0;
  overflow: hidden;
  position: absolute;
}

#search-box-top #edit-search-theme-form-1 {
  background-color: #FFF;
  width: 260px;
}

#search-theme-form { float: right; }

#block-search-0 .form-submit,
#search .form-submit {
  font-size: 0.9em;
  color: #FFF;
  padding: 2px 2px;
}


/* Feed Icons */
.feed-icons { 
  float: right;
  margin: 10px 10px 0 0;
}

.feed-icons a {
  font: 1.1em Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  color: #222;
}

.feed-icons em { 
  font-style: normal;
}


/* Main Navigation
   Primary links & Secondary links */
	 
/* Prmiary Links */
.primary-links {
  font-weight: bold;
  height: 3em;
  margin: 0;
  padding: 0;
}

.primary-links li {
  display: inline;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-links li a {
  color: #FFF;
  display: block;
  line-height: 3em;
  padding: 0 1em;
  text-decoration: none;
  white-space: nowrap;
}

.primary-links li a:hover {
  text-decoration: underline;
}


/* Secondary Menu Links */
.secondary-links {
  font-weight: bold;
  height: 3em;
  margin: 0;
  padding: 0;
}

.secondary-links li {
  display: inline;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.secondary-links li.last {
   border-right: none;
}

.secondary-links li a {
  display: block;
  line-height: 3em;
  padding: 0 1em;
  text-decoration: none;
  white-space: nowrap;
}

.secondary-links li a:hover,
.secondary-links li a:focus {
  text-decoration: underline;
}


/* The Main Columns 
     Column specific styles */

/* Column 1 - Left */
#left { background-color: #FFF; }

#left .block {}
#left .block .block-wrapper {}


/* Column 2 - Main Content */
#content { background-color: #FFF; }

#content h1.category {
  font-size: 1.75em;
  font-weight: bold;
  padding: 0.25em;
  margin:0;
  text-transform: capitalize;
}

#content h1.category span {
  display: block;
  float: left;
  margin: 0 0 0 0.375em;
}

#content h1.category img {
  float: left;
  padding-top: 0.375em;
}

.taxonomy-term-description {
  font-size: 1.17em;
}

/* blocks */
.block .block-wrapper { 
  padding: 1px 2px;
}

#main-navigation .block-region {
  line-height: 1.5 !important;
}


/* Right top box & Right bottom box */
#right-top-box {}
#right-bottom-box {}


/* If 4 cols constrain text fields */
.four-column .form-text {
  width: 80%;
}


/* Content Top Region */
#content-top {}
#content-top-full-width { text-align: center; background-color: #FFF; margin-top: 1em; }
.content-top-col-1      { background-color: #FFF; }
.content-top-col-2      { background-color: #FFF; }

#content-top .block { 
  margin-bottom: 0; 
}


/* Region specific resets */
#content-bottom {}
#content-bottom-full-width { text-align: center; background-color: #FFF; }
.content-bottom-col-1      { background-color: #FFF; }
.content-bottom-col-2      { background-color: #FFF; }

#leaderboard p,
#header p,
#content-top p,
#content-bottom p,
#content-top-full-width p,
#content-bottom-full-width p,
#footer p { margin: 0; padding: 0; }

#leaderboard div.block, 
#leaderboard .block-wrapper, 
#leaderboard .block .content,
#header div.block, 
#header .block-wrapper, 
#header .block .content,
#content-top div.block, 
#content-top .block-wrapper, 
#content-top .block .content,
#content-bottom div.block, 
#content-bottom .block-wrapper, 
#content-bottom .block .content,
#content-top-full-width div.block, 
#content-top-full-width .block-wrapper, 
#content-top-full-width .block .content,
#content-bottom-full-width div.block, 
#content-bottom-full-width .block-wrapper, 
#content-bottom-full-width .block .content { 
  margin: 0.5em 0 0.2em 0; 
  padding: 0; 
  border: none;
  text-align: center;
  background-color: #FFF;
}

#left p,
#right_2 p,
#right p { margin: 0; }


/* Footer, Footer Message */
#footer { 
  margin-top: 0.5em;
  border: none; 
}

#footer div.block { 
  border: none;
}

#footer div.block { 
  margin: 0 0 0.1em;
}

#footer div.block .content { 
  border: none; 
  text-align: center; 
}

#footer div.block ul.menu { 
  border: none; 
  text-align: center; 
}

#footer div.block ul.menu li.leaf {
  list-style: none;
  display: inline;
  padding: 0.5em 1.5em;
}

#footer-message {
  font-size: 1em;
  padding: 1em 0;
  text-align: center;
}


/* Tabs, Messages, Mission, Breadcrumb */
div.tabs {
  margin-bottom: 1.5em;
}

.tabs ul.primary li a {
padding:0.25em 0.5em;
margin-right:0.25em;
}

ul.primary {
padding:0 0 0.25em 0.5em;
}

div.help {
  background-color: #FFC;
  margin-bottom: 1.5em;
  padding: 0.75em; 
  border: 1px solid #FEDE01;
}

div.messages {
  font-weight: bold;
  margin-bottom: 1.5em;
  padding: 0.68em;
}

div.messages.success {
  color: #55872E;
  background-color: #F1F8EB;
  border: 1px solid #7AC142; 
}

div.messages ul {
  margin-bottom: 0;
}

.mission { 
  font-weight: bold;
  color: #222;
  background-color: #FFF; 
  padding: 0 0 0.6em 0;
  margin-bottom: 1.2em;
}

.mission a:link,
.mission a:visited,
.mission a:hover { 
  text-decoration: underline; 
  color: #FFF;
}

.breadcrumb {
  padding-bottom: 0;
  margin-bottom: 1.5em;
}


/* Nodes. All custom node styles */
div.node {
  margin: 0 0 1.5em 0;
  padding: 0 0 1.417em 0;
}


/* Change the margin and padding when node is in a block, 
   e.g. Views blocks */
.block div.node {
  margin: 0 0 0.3em 0;
  padding: 0 0 0.2em 0;
}

div.node h2 {
  font: bold 1.447em Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0;
}

div.node .title a:link,
div.node .title a:visited,
div.node .title a:active { 
  text-decoration: none;
  color: #222;  
}

div.node .title a:hover { 
  text-decoration: underline; 
}

div.node .meta {
  font-size: 0.9em;
  line-height: 1.667em;
  margin-bottom: 1.667em;
}

div.meta div.terms {
  display: inline;
  font-size: 0.95em;
}

div.node div.picture {
  float: left;
  margin: 0.3em 0.5em 0.1em 0;
}

div.node ul.links {
  text-align: right;
  display: block; 
  font-size: 0.95em;
}

div.node-unpublished {
  background-color: #FFF4F4;
  padding: 0.2em;
}

div.node div.unpublished {
  font: bold 3em Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFE9E7;
  padding: 0.3em;
}


/* Forum */
#forum table       { width: 100%; }
#forum tr td.forum { 
  background-position: 5px 5px!important; 
  background-position: 5px 5px;
  padding-left: 25px; 
}
#forum div.indent  { margin-left: 0.5em; }


/* Comments */
div.comment-content.with-picture {
  margin-left: 95px; /* modify the margin as requried */
}

div.comment .title {
  font: bold 1.4em Arial, Helvetica, sans-serif;
  border-bottom: 1px dotted #1D4364;
}

div.comment .title a:link,
div.comment .title a:visited,
div.comment .title a:active {
  text-decoration: none;
  color: #222;
}

div.comment .title a:hover {
  text-decoration: underline;
  color: #222;
}

div.comment .meta {
  font-size: 0.9em;
  height: 1.25em;
  line-height: 1.25;
  margin: 0.8em 0 2em;
}

div.comment div.picture {
  float: left;
  width: 85px;
  margin: 0.3em 0.5em 0.1em 0;
}

div.comment span.username {
  font-weight: bold;
}

div.comment span.date {
  font-style: italic;
}

div.comment span.new {
  font-weight: bold;
  color: #FF6600;
}

div.comment img {
  margin: 0;
  border: none;
}

div.comment .links {
  clear: both;
}

div.comment {
  padding: 0.75em 1em;
  margin: 1.5em 0;
}

div.comment.odd {
}

div.comment.even {
}

div.comment.comment-mine {
}

h3#comment-number {
  margin-top: 1em;
}

div.indented {
  margin-left:40px;
}

div.comment-unpublished {
  background-color: #FFF4F4!important;
  padding: 0.2em;
}

div.comment div.unpublished {
  font: bold 3em Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFE9E7;
  padding: 0.3em;
}

/* Blocks */
div.block {
  padding: 0;
  margin: 0 0 10px;
  clear: both;
}

div.block-wrapper { 
  background-color: #FFF;
  padding: 0 0 0.2em 0;
}

.block .title {
  font: bold 1.1em Arial, Helvetica, sans-serif;
  margin: 1px;
  padding: 2px 2px 2px 4px;
}

.block .title span {
  padding: 0 0 1px;
}

.block .content {
  padding: 0.1em 0.6em;
}

tr .block { 
  border: none; /* blocks page table */
}

#block-user-0 li {
  list-style:none;
}


/* Poll */
.block .poll .title {
  border: none; 
  background: none;
  margin: 0;
  padding: 3px 0;
}

/* Misc Drupal overrides */
div.admin {
  padding-top: 0;
}

div.admin-panel {
  padding: 1.5em 0 0 0;
}

div.admin-panel .body {
  padding: 0;
}

div.admin-panel .description {
  margin: 0 0 1.5em 0;
  padding: 0;
}

div.admin .left,
div.admin .right {
  margin:0;
}

#user-admin-filter ul li,
#node-admin-filter ul li {
  list-style: none;
}

.more-help-link {
  font-size: 0.9em;
  line-height: 1.667em;
}

.theme-info h2 {
  font-size: 1.3em;
}


/* Lists */
ul.menu li, .item-list ul li {
  margin: 0;
  padding: 0;
}

ul.menu li ul {
  margin-bottom: 0;
}

.block ul, ul.menu, .item-list ul {
  margin: 0 1em 0.3em;
  padding: 0;
}

ul li, ul.menu li, .item-list ul li, li.leaf {
  list-style-image: none;
  list-style: square;
}

ul li.expanded {
  list-style-image: none;
  list-style: square;
}

ul li.collapsed {
  list-style-image: none;
  list-style: square;
}

.block ul li ul li,
.block ul li ul li ul li { font-size: 0.95em; }


/* Fix alignment on user profile page */
.profile dt {
  margin: 1.5em 0 0 0;
}


/* Book module */
.book-navigation .page-links {
  padding: 0.75em;
  margin-bottom: 1.5em;
  border: none;
}

.book-navigation .menu {
  padding: 1.417em 0 0 3em;
  margin: 0 0 1.5em 0;
}


/* Profiles */
.profile .picture {
  float: right;
  margin: 2em 0 1em 0.5em;
}


/* Messages */
#messages {
  margin-right: 10px;
  margin-top: 10px;
}

div.messages {
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0.68em;
}

#messages p:last-child, 
#messages ul:last-child { 
  margin-bottom: 0; 
}

.status {
  color: #264409;
  background-color: #E6EFC2;
  border: 1px solid #C6D880;
}

.error { 
  color: #8a1f11;
  background-color: #FBE3E4; 
  border: 1px solid #8a1f11; 
}

.notice { 
  color: #514721; 
  background-color: #FFF6BF; 
  border-color: #FFD324; 
}

.error, .notice, .status { 
  margin-bottom: 1em;
  padding: 0.8em; 
}

.error a    { color: #8a1f11; text-decoration: underline; }
.notice a   { color: #514721; text-decoration: underline; }
.success a  { color: #264409; text-decoration: underline; }

span.admin-disabled {
  color: #DC1000;
}


/* Pager */
.item-list .pager li a:hover {
  text-decoration: underline;
}


/* Blocks page */
table#blocks tr * {
  font: 0.94em “Helvetica Neue”, Arial, Helvetica, sans-serif;
}

/* Themes list table */
#system-themes-form table.sticky-table {
  position:relative;
  z-index:100;
}


/* Helpers */
.element-hidden {
  display: none;
}

.element-invisible {
  height: 0;
  overflow: hidden;
  position: absolute;
}

.offscreen {
  position: absolute;
  top: -9999em;
  left: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


/* Border widths */
#secondary-menu, 
.mission, 
thead th { 
  border-bottom: 2px solid;
}

#secondary-menu ul.links li { 
  border-right: 1px solid;
}

div.node, 
.block .title,
.tabs ul.secondary,
#content h1.category { 
  border-bottom: 1px solid; 
}

.forum-topic-navigation { 
  border-bottom: 1px solid; 
  border-top: 1px solid; 
}

input.text, 
input.title, 
textarea, 
select, 
fieldset, 
input.form-text,
#block-search-0 
.form-submit, 
#search .form-submit { 
  border: 1px solid; 
}

.tabs ul.secondary li { 
  border-right: 1px solid;
}

.tabs ul.secondary a.active { 
  border-bottom: 4px solid;
}

td.region,
td.module,
td.container,
table.system-status-report th { 
  border-bottom:none;
}

tr.even,
tr.odd,
tbody,
tbody th,
.block {
  border:none;
}

input.text, 
input.title, 
select,
textarea,
fieldset, 
input.form-text,
#block-search-0 
.form-submit, 
#search .form-submit {
  -border-radius: 3px;
  -moz-border-radius: 3px;
}

fieldset .collapsed {
  -border-radius: 0;
  -moz-border-radius: 0;
}

.resizable-textarea textarea {
  -border-radius: 3px 3px 0 0;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
}


/* Skinr border Styles and Width */
.nw-corners-3px > .block-wrapper {
  -border-radius: 3px; 
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px;
}

.nw-corners-6px > .block-wrapper {
  -border-radius: 6px; 
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px;
}

.nw-corners-12px > .block-wrapper {
  -border-radius: 12px; 
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px;
}

.nw-corners-3px > .block-wrapper > .title {
  margin-top: 2px;
  -border-radius: 2px 2px 0 0; 
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft:0;
  -moz-border-radius-bottomright:0;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
}

.nw-corners-6px > .block-wrapper > .title {
  margin-top: 2px;
  -border-radius: 4px 4px 0 0; 
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft:0;
  -moz-border-radius-bottomright:0;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
}

.nw-corners-12px > .block-wrapper > .title {
  margin-top: 2px;
  -border-radius: 10px 10px 0 0; 
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 0; 
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft:0;
  -moz-border-radius-bottomright:0;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
}

.nw-border-style-thin > .block-wrapper {
  border-style: solid; 
  border-width: 1px;
}

.nw-border-style-medium > .block-wrapper {
  border-style: solid;
  border-width: 2px;
}

.nw-border-style-thick > .block-wrapper {
  border-style: solid;
  border-width: 4px;
}

.nw-border-style-double > .block-wrapper {
  border-style: double;
  border-width: 4px;
}

.nw-border-style-none > .block-wrapper {
  border: none !important;
}
